DB_HOST=localhost
DB_PORT=5432
POSTGRES_DATABASE=db_name
POSTGRES_USER_DEV=db_user
POSTGRES_PASSWORD_DEV=db_password
SPRING_DATASOURCE_DEV_URL=jdbc:postgresql://${DB_HOST}:${DB_PORT}/${POSTGRES_DATABASE}

